.gear {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--bs-primary);
}

.gear svg {
    color: var(--bs-dark);
}

.gear svg:hover {
    color: var(--bs-primary);
}
