/* scrollable columns */
/* https://codepen.io/aneekul/post/columnar-independence */
@media only screen and (min-width: 992px) {
    /*Set the row height to the viewport*/
    .row-height{
        height: 100vh;
    }

    /*Set up the columns with a 100% height, body color and overflow scroll*/
    .scrollable{
        height: 100%;
        overflow-y: scroll;
    }

    /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    * {
        -ms-overflow-style: none !important;
    }
}

/* custom react-bootstrap Button variant for Icon.tsx */
.btn.btn-icon {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--bs-primary);
}

.btn-icon svg {
    color: var(--bs-dark);
}

.btn-icon svg:hover {
    color: var(--bs-primary);
}

/* custom react-bootstrap Button variant for the entire app */
.btn.btn-custom {
    background-color: var(--bs-white);
    color: var(--bs-dark);
    border: 1px solid var(--bs-dark);
}

.btn.btn-custom:disabled {
    background-color: var(--bs-white);
    color: var(--bs-danger);
}

.btn.btn-custom:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-light) !important;
    border: 1px solid var(--bs-primary) !important
}

/* dashed hr line*/
/* https://codepen.io/erikz/pen/xLVKqe */
hr.dashed {
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,#000,#000 10px,transparent 10px,transparent 20px);
}

/* dashed list */
/* https://stackoverflow.com/questions/3200249/html-list-style-type-dash */
ul.dashed {
    margin: 0;
    padding-left: 1rem;
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -5px;
}

ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

/* add background color when hovering over list-group-items */
.list-group-item:hover {
    background-color: var(--bs-gray-100);
}
